# requirements for read the docs without database packages
Django==3.2.*
graphviz>=0.8.2
Pygments>=2.2.0
jinja2<3.1.0
Sphinx>=6.2
sphinx_rtd_theme>=0.3.1
coverage>=5.5.0
typing_extensions==4.0.1

tqdm==4.66.3
django-fast-update
alabaster==0.7.12
